<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card" status="warning">
      <nb-card-header>Estimation</nb-card-header>
      <nb-card-body>
        <div class="row" [formGroup]="deptOptionForm">
          <div class="col-md-3 floating-label-field">
            <select
              placeholder=" "
              class="floating-input"
              formControlName="department"
            >
              <option value="0">Select Deparment</option>
              <option
                *ngFor="let department of departmentList"
                [value]="department.departmentId"
              >
                {{ department.departmentName }}
              </option>
            </select>
            <label class="floating-label"> Department</label>
          </div>
          <div class="col-md-3 floating-label-field">
            <select
              placeholder=" "
              class="floating-input"
              name="software"
              formControlName="software"
            >
              <option value="0">Select Software</option>
              <option
                *ngFor="let software of softWareList"
                [value]="software.licenceId"
              >
                {{ software.licenceName }}
              </option>
              <!-- <nb-option value="UG">UG</nb-option> -->
            </select>
            <label class="floating-label"> Software</label>
          </div>
          <div class="col-md-3 floating-label-field">
            <select
              placeholder=" "
              class="floating-input"
              name="year"
              formControlName="year"
            >
              <option value="0">Select Year</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
              <option value="2025">2025</option>
            </select>
            <label class="floating-label"> Year</label>
          </div>

          <!-- <div class="col-md-2">
            <input
              nbInput
              [nbDatepicker]="fromDatePicker"
              fieldSize="small"
              class="formInput"
              name="fromDatePicker"
              formControlName="fromDatePicker"
            />
            <nb-datepicker #fromDatePicker format="dd-MMM-yyyy" ></nb-datepicker>
          </div> -->
          <!-- <div class="col-md-2">
            <input
              nbInput
              [nbDatepicker]="toDatePicker"
              fieldSize="small"
              class="formInput"
              name="toDatePicker"
              formControlName="toDatePicker"
            />
            <nb-datepicker #toDatePicker format="dd-MMM-yyyy"></nb-datepicker>
          </div> -->
          <div class="text-center col-md-3">
            <button
              type="button"
              size="small"
              nbButton
              status="info"
              (click)="getData()"
            >
              Go
            </button>
          </div>
        </div>
        <div [formGroup]="estimationForm">
          <div formArrayName="estimation">
            <table
              class="table table-bordered mt-3 text-start table-light"
              id="departmentTable"
              *ngIf="defaultData"
            >
              <thead class="tHeading">
                <tr>
                  <th class="deptCol">
                    Project
                    <!-- {{ getDepartment() }} -->
                  </th>
                  <th *ngFor="let header of headerList">{{ header }}</th>
                  <th class="iconCol"></th>
                </tr>
              </thead>

              <tbody *ngFor="let item of groupedCollection | keyvalue">
                <tr
                  *ngFor="
                    let project of getListData(item.key);
                    trackBy: trackByMethod;
                    let i = index
                  "
                  [formGroupName]="project.indexValue"
                >
                  <td
                    class="p-0 ps-1 pe-1 align-middle"
                    *ngIf="i == 0"
                    rowspan="3"
                  >
                    {{ item.key }}
                  </td>
                  <td class="p-0 ps-1 pe-1 shiftCol">
                    {{ project.shift }}
                  </td>
                  <td class="p-0">
                    <input
                      type="text"
                      class="formInput text-center ps-0 pe-0"
                      status="basic"
                      fieldSize="small"
                      nbInput
                      formControlName="january"
                      name="january"
                    />
                  </td>
                  <td class="p-0">
                    <input
                      type="text"
                      class="formInput text-center ps-0 pe-0"
                      status="basic"
                      fieldSize="small"
                      nbInput
                      formControlName="february"
                      name="february"
                    />
                  </td>
                  <td class="p-0">
                    <input
                      type="text"
                      class="formInput text-center ps-0 pe-0"
                      status="basic"
                      fieldSize="small"
                      nbInput
                      formControlName="march"
                      name="march"
                    />
                  </td>
                  <td class="p-0">
                    <input
                      type="text"
                      class="formInput text-center ps-0 pe-0"
                      status="basic"
                      fieldSize="small"
                      nbInput
                      formControlName="april"
                      name="april"
                    />
                  </td>
                  <td class="p-0">
                    <input
                      type="text"
                      class="formInput text-center ps-0 pe-0"
                      status="basic"
                      fieldSize="small"
                      nbInput
                      formControlName="may"
                      name="may"
                    />
                  </td>
                  <td class="p-0">
                    <input
                      type="text"
                      class="formInput text-center ps-0 pe-0"
                      status="basic"
                      fieldSize="small"
                      nbInput
                      formControlName="june"
                      name="june"
                    />
                  </td>
                  <td class="p-0">
                    <input
                      type="text"
                      class="formInput text-center ps-0 pe-0"
                      status="basic"
                      fieldSize="small"
                      nbInput
                      formControlName="july"
                      name="july"
                    />
                  </td>
                  <td class="p-0">
                    <input
                      type="text"
                      class="formInput text-center ps-0 pe-0"
                      status="basic"
                      fieldSize="small"
                      nbInput
                      formControlName="august"
                      name="august"
                    />
                  </td>
                  <td class="p-0">
                    <input
                      type="text"
                      class="formInput text-center ps-0 pe-0"
                      status="basic"
                      fieldSize="small"
                      nbInput
                      formControlName="september"
                      name="september"
                    />
                  </td>
                  <td class="p-0">
                    <input
                      type="text"
                      class="formInput text-center ps-0 pe-0"
                      status="basic"
                      fieldSize="small"
                      nbInput
                      formControlName="october"
                      name="october"
                    />
                  </td>
                  <td class="p-0">
                    <input
                      type="text"
                      class="formInput text-center ps-0 pe-0"
                      status="basic"
                      fieldSize="small"
                      nbInput
                      formControlName="november"
                      name="november"
                    />
                  </td>
                  <td class="p-0">
                    <input
                      type="text"
                      class="formInput text-center ps-0 pe-0"
                      status="basic"
                      fieldSize="small"
                      nbInput
                      formControlName="december"
                      name="december"
                      id="december{{ project.indexValue }}"
                    />
                  </td>
                  <td class="p-0 ps-1 pe-1 text-center">
                    <nb-icon
                      *ngIf="project.editStatus"
                      icon="edit-outline"
                      (click)="editList(project.indexValue)"
                      nbTooltip="Edit"
                      nbTooltipPlacement="bottom"
                    ></nb-icon>
                    <nb-icon
                      *ngIf="project.saveStatus"
                      icon="save-outline"
                      (click)="saveData(project.indexValue)"
                      nbTooltip="Save"
                      nbTooltipPlacement="bottom"
                    ></nb-icon>
                    <!-- <nb-action
                        class="control-item"
                        icon="edit-outline"
                       
                        
                      >
                      </nb-action> -->

                    <!-- <div >
                      <nb-action
                        class="control-item"
                       
                       
                      >
                      </nb-action>
                    </div> -->
                  </td>
                </tr>
                <tr class="text-center text-dark fw-bold">
                  <td colspan="2">Total</td>

                  <td>{{ getTotal("january", item.key) }}</td>
                  <td>{{ getTotal("february", item.key) }}</td>
                  <td>{{ getTotal("march", item.key) }}</td>
                  <td>{{ getTotal("april", item.key) }}</td>
                  <td>{{ getTotal("may", item.key) }}</td>
                  <td>{{ getTotal("june", item.key) }}</td>
                  <td>{{ getTotal("july", item.key) }}</td>
                  <td>{{ getTotal("august", item.key) }}</td>
                  <td>{{ getTotal("september", item.key) }}</td>
                  <td>{{ getTotal("october", item.key) }}</td>
                  <td>{{ getTotal("november", item.key) }}</td>
                  <td>{{ getTotal("december", item.key) }}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
