.formInput {
  width: 100%;
}

.deptCol {
  width: 18%;
}

.iconCol {
  width: 5%;
}

.shiftCol {
  width: 7%;
}

#departmentTable th {
  top: 0;
  position: sticky;
}

.estimationFormContent {
  overflow: auto;
  height: 65vh;
}

#departmentTable {
  thead tr th {
    background-color: rgb(86, 100, 127);
    color: white;
  }

  tfoot tr td {
    background-color: rgba(153, 166, 192, 0.33);
    color: black;
  }

  .formInput:focus {
    background-color: white !important;
    border: 1px solid blue !important;
  }

  .editIcon {
    display: block;
  }

  .saveIcon {
    display: none;
  }

  .show {
    display: block !important;
  }

  .hidden {
    display: none !important;
  }
}