<div class="row" id="reportDiv">
  <div class="col-6">
    <nb-card class="inline-form-card" status="warning">
      <nb-card-header> Report Require For </nb-card-header>
      <nb-card-body>
        <div class="row justify-content-start" [formGroup]="reportForm">
          <div class="col-4 floating-label-field">
            <select
              class="floating-input"
              placeholder=" "
              formControlName="software"
            >
              <option value="0">Select Software</option>
              <option
                *ngFor="let software of softwareList"
                [value]="software.licenceId"
              >
                {{ software.licenceName }}
              </option>
            </select>
            <label class="floating-label">Software</label>
          </div>
          <div class="col-4 floating-label-field">
            <select
              class="floating-input"
              placeholder=" "
              formControlName="month"
            >
              <option value="0">Select Month</option>
              <option *ngFor="let month of monthList" [value]="month.id">
                {{ month.name }}
              </option>
            </select>
            <label class="floating-label">Month</label>
          </div>
          <div class="col-4 floating-label-field">
            <select
              class="floating-input"
              placeholder=" "
              formControlName="year"
            >
              <option value="0">Select year</option>

              <option *ngFor="let year of yearList" [value]="year.id">
                {{ year.name }}
              </option>
            </select>
            <label class="floating-label" value="0">Year</label>
          </div>
        </div>

        <div class="mt-2 col-12 text-end">
          <button
            type="button"
            size="small"
            nbButton
            status="info"
            (click)="getReportList()"
          >
            Go
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <!-- <div class="col-6" *ngIf="totalCalculateData">
    <nb-card class="inline-form-card" status="warning">
      <nb-card-header>Month Summary</nb-card-header>
      <nb-card-body>
        <table class="table table-bordered mt-3 text-center table-light">
          <tbody>
            <tr *ngFor="let count of totalCalculateData | keyvalue">
              <td class="text-start">{{ count.key }}</td>
              <td class="text-end">{{ count.value }}</td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div> -->

  <div class="col-12" *ngIf="reportListData">
    <nb-card class="inline-form-card" status="warning">
      <nb-card-header>
        <div class="d-flex justify-content-between col-12">
          <div class="align-items-center d-flex">Cost Breckup</div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <table class="table table-bordered mt-3 text-center table-light">
          <thead>
            <tr>
              <th>Sr. No.</th>
              <th class="text-start">Department</th>
              <th>Actual Usage as per IT report (1)</th>
              <th>Cost as per actual usage (2) ( CA$ )</th>
              <th>Latest Projection by HoD (3)</th>
              <th>Excess Projection (4)</th>
              <th>% for sharing unutilised license cost (5)</th>
              <th>Unutilised Licenses (6)</th>
              <th>Cost of Unutilised Licenses (7) ( CA$ )</th>
              <th>Total Cost to Department (8=2+7) ( CA$ )</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let report of reportListData">
              <td>{{ report.tempRowId }}</td>
              <td class="text-start">{{ report.departmentName }}</td>
              <td class="text-center"     [ngClass]="{'zero':report.ActualUsageAsPerITReport    == '0'}">
                {{ report.ActualUsageAsPerITReport | number }}
              </td>
              <td class="text-end" [ngClass]="{'zero':report.CostAsPerActualUsage    == '0'}">
                {{ report.CostAsPerActualUsage | number }}
              </td>
              <td class="text-center" [ngClass]="{'zero':report.LatestProjectionByHoD    == '0'}">
                {{ report.LatestProjectionByHoD | number }}
              </td>
              <td class="text-center" [ngClass]="{'zero':report.ExcessProjection    == '0'}">
                {{ report.ExcessProjection | number }}
              </td>
              <td class="text-center" [ngClass]="{'zero':report.PercentageForSharingUnutilisedLicenseCost    == '0'}">
                {{ report.PercentageForSharingUnutilisedLicenseCost | number }}
              </td>
              <td class="text-center" [ngClass]="{'zero':report.UnutilisedLicenses    == '0'}">
                {{ report.UnutilisedLicenses | number }}
              </td>
              <td class="text-end" [ngClass]="{'zero':report.CostOfUnutilisedLicenses    == '0'}">
                {{ report.CostOfUnutilisedLicenses | number }}
              </td>
              <td class="text-end" [ngClass]="{'zero':report.TotalCostToDepartment    == '0'}">
                {{ report.TotalCostToDepartment | number }}
              </td>
            </tr>
          </tbody>
          <tfoot class="border-secondary table-group-divider">
            <tr>
              <td colspan="2">Total</td>

              <td class="text-center" >
               
                {{
                  getTotal(reportListData, "ActualUsageAsPerITReport")
                    | number : "1.2-2"
                }}
              
              
              </td>
              <td class="text-end">
                {{ getTotal(reportListData, "CostAsPerActualUsage") | number }}
              </td>
              <td class="text-center">
                {{
                  getTotal(reportListData, "LatestProjectionByHoD")
                    | number : "1.2-2"
                }}
              </td>
              <td class="text-center">
                {{
                  getTotal(reportListData, "ExcessProjection")
                    | number : "1.2-2"
                }}
              </td>
              <td class="text-center">
                {{
                  getTotal(
                    reportListData,
                    "PercentageForSharingUnutilisedLicenseCost"
                  ) | number : "1.2-2"
                }}
              </td>
              <td class="text-center">
                {{
                  getTotal(reportListData, "UnutilisedLicenses")
                    | number : "1.2-2"
                }}
              </td>
              <td class="text-end">
                {{
                  getTotal(reportListData, "CostOfUnutilisedLicenses") | number
                }}
              </td>
              <td class="text-end">
                {{ getTotal(reportListData, "TotalCostToDepartment") | number }}
              </td>
            </tr>
          </tfoot>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
