.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
.loginHeading {
  text-align: center;
  padding: 14px;
  font-size: 30px;
}
section {
  background-color: #9ea7b4;
}
.status-danger {
  color: #970909 !important;
  margin-top: 5px;
}
