<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card" status="warning">
      <nb-card-header>
        <div class="d-flex justify-content-between col-12">
          <div class="align-items-center d-flex">{{ title }}</div>
          <div class="" *ngIf="pageType != 'reportList'">
            <nb-icon
              (click)="openModal(false, 'Add', {})"
              icon="plus-outline"
              nbTooltip="Create"
              nbTooltipPlacement="bottom"
            ></nb-icon>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div>
          <input
          type='text'
          class="formInput text-start "
          status="basic"
          fieldSize="small"
          nbInput
          placeholder='Search '
          [(ngModel)]='textSearch'
           
        />
          <pagination-controls
            class="float-end"
            (pageChange)="p = $event"
          ></pagination-controls>
          <table
            class="table table-hover table-bordered mt-3 text-start table-light"
          >
            <thead class="text-dark">
              <tr>
                <th>User ID</th>
                <th>Name</th>

                <th *ngIf="userList">Department</th>
                <th *ngIf="userList">Licence Server</th>
                <th *ngIf="userList">Licence Server Department</th>

                <th *ngIf="userList">Designation</th>
                <th *ngIf="projectList">Remark</th>
                <th *ngIf="shiftList">From Time</th>
                <th *ngIf="shiftList">To Time</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let dataItem of masterList | FilterPipe:textSearch
                    | paginate : { itemsPerPage: 10, currentPage: p };
                  let i = index
                "
              >
                <td>
                  {{ dataItem.id }}
                </td>
                <td>
                  {{ dataItem.name }}
                </td>
                <td *ngIf="userList">
                  <!-- {{ dataItem.departmentId }} -->
                  {{ dataItem.departmentName }}
                </td>
                <td *ngIf="userList">
                  {{ dataItem.licenceServerId }}
                  <!-- {{ dataItem.licenceName }} -->
                </td>

                <td *ngIf="userList">
                  {{ dataItem.licenceServerDepartmentId }}
                  <!-- {{ dataItem.licencesDepartmentName }} -->
                </td>

                <td *ngIf="userList">
                  {{ dataItem.designation }}
                </td>
                <td *ngIf="projectList">
                  {{ dataItem.remark }}
                </td>
                <td *ngIf="shiftList">
                  {{ dataItem.fromTime }}
                </td>
                <td *ngIf="shiftList">
                  {{ dataItem.toTime }}
                </td>
                <td>
                  {{ dataItem.status == true ? "Active" : "Inactive" }}
                </td>
                <td nbTooltip="Edit" nbTooltipPlacement="bottom">
                  <nb-icon
                    icon="edit-outline"
                    (click)="openModal(false, 'Edit', dataItem)"
                  ></nb-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
