<div class="row">
  <div class="col-6">
    <nb-card class="inline-form-card" status="warning">
      <nb-card-header>Actual Usage</nb-card-header>
      <nb-card-body [formGroup]="usageOptionForm">
        <div class="row">
          <div class="col-6 floating-label-field">
            <select
              class="floating-input"
              placeholder=" "
              formControlName="software"
            >
              <option value="0">Select Software</option>
              <option
                *ngFor="let software of softwareList"
                [value]="software.licenceId"
              >
                {{ software.licenceName }}
              </option>
            </select>
            <label class="floating-label">Software</label>
          </div>
          <div class="col-3 floating-label-field">
            <select
              class="floating-input"
              placeholder=" "
              formControlName="month"
            >
              <option value="0">Select Month</option>
              <option *ngFor="let month of monthList" [value]="month.id">
                {{ month.name }}
              </option>
            </select>
            <label class="floating-label">Month</label>
          </div>
          <div class="col-3 floating-label-field">
            <select
              class="floating-input"
              placeholder=" "
              formControlName="year"
            >
              <option value="0">Select year</option>

              <option *ngFor="let year of yearList" [value]="year.id">
                {{ year.name }}
              </option>
            </select>
            <label class="floating-label" value="0">Year</label>
          </div>
          <div
            *ngIf="usageOptionForm.get('software')?.value != '0'"
            class="m-2"
          >
            <nb-radio-group formControlName="usapeTabOptions">
              <nb-radio value="editPermission">Edit Permission</nb-radio>
              <nb-radio value="usageUpdate">Usage Update</nb-radio>
            </nb-radio-group>
          </div>
        </div>
        <div
          class="row justify-content-start"
          *ngIf="showUsage && usageOptionForm.get('software')?.value != '0'"
        >
          <div class="col-6 floating-label-field">
            <input
              type="number"
              class="floating-input"
              placeholder=" "
              [min]="0"
              formControlName="licence"
              [readOnly]="actualEditOption"
            />
            <label class="floating-label">Licences</label>
          </div>
          <div class="col-6 floating-label-field">
            <input
              type="text"
              class="floating-input"
              placeholder=" "
              formControlName="avgCost"
            />
            <label class="floating-label">Avrage Cost</label>
          </div>
          <div class="col-6 floating-label-field">
            <input
              type="number"
              class="floating-input"
              placeholder=" "
              [min]="0"
              formControlName="totalCost"
              [readOnly]="actualEditOption"
            />
            <label class="floating-label">Total Cost</label>
          </div>
        </div>
        <div
          class="row"
          *ngIf="!showUsage && usageOptionForm.get('software')?.value != '0'"
        >
          <div class="col-6 floating-label-field">
            <nb-checkbox
              status="basic"
              [disabled]="editAdmin"
              formControlName="actualUsageEdit"
              >Allow Actual Usage Edit</nb-checkbox
            >
          </div>
          <div class="col-6 floating-label-field">
            <nb-checkbox
              status="basic"
              [disabled]="editAdmin"
              formControlName="estimationEdit"
              >Allow Estimation Edit</nb-checkbox
            >
          </div>
        </div>

        <div class="mt-2 col-12 text-end">
          <button
            type="button"
            size="small"
            nbButton
            status="info"
            [disabled]="editAdmin"
            (click)="saveActualUsage('ActualUsage')"
          >
            save
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div
    class="col-6"
    *ngIf="showUsage && usageOptionForm.get('software')?.value != '0'"
  >
    <nb-card
      class="inline-form-card"
      status="warning"
      *ngIf="departmentHoursData"
    >
      <nb-card-header>Usage By Departments In Hours </nb-card-header>
      <nb-card-body>
        <div [formGroup]="departmentForm">
          <table class="table table-bordered mt-3 text-center table-light">
            <thead class="tHeading">
              <tr>
                <th>Sr.</th>
                <th>Department</th>
                <th>Actual Usage as per IT report in Hours</th>
              </tr>
            </thead>
            <tbody formArrayName="department">
              <tr
                *ngFor="let data of departmentHoursDataList; let i = index"
                [formGroupName]="i"
              >
                <td>{{ i + 1 }}</td>
                <td>
                  <!-- {{ getDepartmentNmae(data.departmentId) }} -->
                  {{ data.name }}
                </td>
                <td class="p-0">
                  <input
                    type="number"
                    class="formInput text-center"
                    status="basic"
                    fieldSize="small"
                    nbInput
                    formControlName="usageHours"
                    [min]="0"
                    step=".01"
                    [readOnly]="actualEditOption"
                  />
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="text-dark fw-bold">
                <td></td>
                <td>Total</td>
                <td class="pe-4">{{ calculateTotal() }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="mt-2 text-end">
          <button
            type="button"
            size="small"
            nbButton
            status="info"
            [disabled]="editAdmin"
            (click)="saveDeptData()"
          >
            save
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
